<head>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

  <header class="container-global"  >
    <div class="noms">
      <div class="rectancle">
        <h1 class="text" id="h1">Itsoukiga Friday</h1>
      </div>
      
      <h2 class="text" id="h2">Je suis un développeur Full Stack</h2>
      <h3 class="text" id="h3">(Mobile, Web et Desktop)</h3>
    </div>
    
    

    
      <div class="divemoabsolute" id="divemoabsolute1">
        <div class="divflex" id="divflex1">
          <div class="carre"></div>
          <img class="emoji" id="emoOrdi" src="./assets/ordiDessin.png" alt="image ordinateur" >
          <div class="triangle" id="tri"></div>
          <img class="emoji" id="emoPhone" src="./assets/phoneDessin.png" alt="image téléphone" >
        </div>
      </div>
      <div class="divemoabsolute" id="divemoabsolute2">

        <div class="divflex" id="divflex2">
          <img class="emoji" id="emoWeb" src="./assets/webDessin.png" alt="image web" >
          <div class="rond"></div> 
        </div>
      </div>

      
    
  </header>

  <nav class="nav" id="nav" (scroll)="scroll_function() " [ngClass]="navbarfixed?'fixed':'nofixed'">
  <!-- <nav class="nav" id="nav" > -->
    <fa-icon [ngClass]="hideMenu"  (click)="open()" class="iconmenu" [icon]="faBars"></fa-icon>
    <fa-icon [ngClass]="hidenMenu" (click)="close()" class="iconmenu" [icon]="faCross"></fa-icon>

    <!-- <div [ngClass]="[cordesclose]" class="cordes ">
      <img class="imgcordes " src="./assets/cordetordu1.png" alt="">
      <img class="imgcordes " src="./assets/cordetordu2.png" alt="">
    </div> -->
    
    <ul [ngClass]="[closeMenu]">
      <li class="linav" ><a href="./#compepe" id="li"  (click)="closenav()">Mes compétences</a></li>
      <li class="linav"><a href="./#formama" (click)="closenav()">Ma Formation</a></li>
      <li class="linav"><a href="./#project" (click)="closenav()">Mes Projets</a></li>
      <li class="linav"><a href="./assets/cv_itsoukiga_friday.pdf" download>Télécharger mon cv</a></li>
    </ul> 
  </nav>

  <div class="description" data-aos="fade-up" data-aos-duration="2000">
    <p> <span id="bjr" >Bonjour</span>! Je suis <b>Friday Itsoukiga</b> un développeur full stack. Je suis détenteur 
      d'une licence appliquée en informatique, et pour l'instant je finis ma deuxième année master
      en Génie Logiciel. Donner de soi et apprendre davantage sont deux concepts fondamentaux de ma personne. </p>

  </div>


  
  <!--Nouvelle rubrique vidéo-->
  <h1 class="titres compe" data-aos="zoom-in" data-aos-duration="2000">Projet En cours <a id="compepe"></a></h1>

  <div class="new_projet">

    <div class="liste_fonctionalite " data-aos="fade-up">
      <div class="desc">
        <p id="p_new_projet"> <span><b>ArchiFact</b></span> est une solution de GED pour la gestion de bon de commande, ArchiFact est implémentée avec le langage Python
          et est basée sur la technologie OCR (Reconnaissance Optique des Caractères).  </p>
      </div>

      <div class="fonct">
        <h4>Fonctionnalités implémentées</h4>
          <span>- Ajout de bon de commande sur un document (document image)</span><br>
          <span>- Ajout de bon de commande sur plus d'un document </span><br>
          <span>- Recherche du bon de commande</span><br>
          <span>- Modification de bon de commande</span>
          
        

        <h4>Fonctionalités futures</h4>
        
          <span>- Ajout de bon de commande multiple (archivage des ancièns bon de commandes)</span><br>
          <span>- Ajout de bon de commande pour d'autre support de document (pdf,excel,etc.) </span><br>
          <span>- Ajout d'un modèl d'apprentissage </span>
      </div>
    </div>

    <video width="50%" controls>
      <source src="./assets/ged_vid.mp4" type="video/mp4">
      <source src="mov_bbb.ogg" type="video/ogg">
      Your browser does not support HTML video.
    </video>

    
  </div>




  <h1 class="titres compe" data-aos="zoom-in" data-aos-duration="2000">Mes compétences <a id="compepe"></a></h1>

  <div class="Compétences" id="compe">
    <fieldset class="field fieldcompe" data-aos="flip-up" data-aos-duration="2000">
      <legend id="web" >Web</legend>
        <span>HTML</span>
        <span>CSS</span>
        <span>JAVASCRIPT</span>
        <span>EJS</span>  
    </fieldset>
    <fieldset class="field fieldcompe" data-aos="flip-up" data-aos-duration="2000">
      <legend id="web">langages</legend>
          <span>JAVA</span>
          <span>PYTHON</span>
          <span>PYTHON TKINTER</span>
          <span>PHP</span>
          <span>SQL</span> 
          <span>PL/SQL</span>  
          <span>C#</span>  
           
    </fieldset>
    <fieldset class="field fieldcompe" data-aos="flip-down" data-aos-duration="2000">
      <legend id="web">Plateformes, Frameworks, IDE, Base de données</legend>
        <span>ANGULAR</span>
        <span>MOODLE </span>
        <span>RASA</span>
        <span>ECLIPSE</span>
        <span>SYMPHONY 4</span> 
        <span>JAVA EE</span> 
        <span>Node js</span> 
        <span>MONGO DB</span> 
        <span>MYSQL</span> 
        <!-- <span>JAVA SPRING</span>  -->
    </fieldset>
    <fieldset class="field fieldcompe" data-aos="flip-up" data-aos-duration="2000">
      <legend id="web">Suite Adobe</legend>
        <span>PHOTOSHOP</span>
        <span>ULISTRATOR</span>
        <span>PREMIERE PRO</span>
        <span>AFTER EFFECT</span>
    </fieldset>
  </div>

  <h1 class="titres" data-aos="zoom-in" data-aos-duration="2000">Ma Formation <a id="formama"></a></h1>


  <div class="wrapper">
    <div class="slider">

      <div class="slide" data-aos="fade-up" data-aos-duration="2000">
        <div class="boxforma" id="formation" >
          <span class="spanforma date"    > 2017 - 2018</span>
          <span class="spanforma diplome" > Baccalauréat scientifique série D </span>
          <span class="spanforma ecole"   > Lycée d'état Jean Stanislas Migolet (Gabon) </span>
        </div>
      </div>

      <div class="slide" data-aos="fade-up" data-aos-duration="2000">
        <div class="" id="formation">
          <span class="spanforma date"     id="date">2018 - 2021</span>
          <span class="spanforma diplome"  id="diplome">Licence Appliquée en Informatique</span>
          <span class="spanforma ecole"    id="ecole">Polytechnique Internationale Privée Tunis</span>
        </div>
      </div>

      <div class="slide" data-aos="fade-up" data-aos-duration="2000">
        <div class="" id="formation">
          <span class="spanforma date"     id="date"> 2021 - 2023</span>
          <span class="spanforma diplome"  id="diplome"> Master Génie Logiciel </span>
          <span class="spanforma ecole"    id="ecole"> Polytechnique Internationale Privée Tunis</span>
        </div>
      </div>

    </div>

  </div>

  <h1 class="titres" data-aos="zoom-in">Mes Projets <a id="project"></a></h1>

  

  <div class="Compétences formation" id="forma"  data-aos="fade-up" data-aos-duration="2000">

    <div class="project formation" id="" data-aos="fade-up" data-aos-duration="2000">
      <img class="imgProjet" src="./assets/covoiturage.JPG" alt="">
      <h2>Covoiturage (Node js, ejs, Mongo db)</h2>
      <span id="gitProjet"><a href="https://github.com/faCompteGit/Covoiturage" target="_blank" id="lienprojet"> Voir sur Github</a> <fa-icon class="iconGit"  [icon]="faGithub"></fa-icon></span>
    </div>

    <div class="project" id="" >
      <img class="imgProjet" src="./assets/imageProjetJava.jpg" alt="">
      <h2>Java Réservation vol</h2>
      <span id="gitProjet"><a href="https://github.com/faCompteGit/Gestion-vol/tree/master" target="_blank" id="lienprojet"> Voir sur Github</a> <fa-icon class="iconGit" [icon]="faGithub"></fa-icon></span>
    </div>

    <div class="project formation animate " id="" data-aos="fade-up" data-aos-duration="2000">
      <img class="imgProjet" src="./assets/imageSoapBackend.jpg" alt="">
      <h2>Python API SOAP/REST</h2>
      <span id="gitProjet"><a href="https://github.com/faCompteGit/Soap-api/tree/master" target="_blank" id="lienprojet"> Voir sur Github</a> <fa-icon class="iconGit"  [icon]="faGithub"></fa-icon></span>
    </div>

    <div class="project formation" id="" data-aos="fade-up" data-aos-duration="2000">
      <img class="imgProjet" src="./assets/front_soap.jpg" alt="">
      <h2>Angular SOAP Front-end</h2>
      <span id="gitProjet"><a href="https://github.com/faCompteGit/Soap-Front-Angular/tree/master" target="_blank" id="lienprojet"> Voir sur Github</a> <fa-icon class="iconGit"  [icon]="faGithub"></fa-icon></span>
    </div>

  
  </div>

  <!-- <ng-container *ngFor="let item of longList">
    <li
        observeVisibility
        [debounceTime]="300"
        (visible)="onVisible(font)"
    ></li>
</ng-container> -->

<footer>
  <i> Itsoukiga Friday</i>
  <!-- <a href="https://github.com/faCompteGit/Gestion-vol" target="_blank"> <fa-icon class="iconfooter"  [icon]="faGithub"></fa-icon></a> -->
  <a href="https://www.linkedin.com/in/friday-itsoukiga-93b3b2297/" target="_blank"> <fa-icon class="iconfooter"  [icon]="faLinkedin"></fa-icon></a> 
  <a href="mailto:fridayfa22@gmail.com" target="_blank"> <fa-icon class="iconfooter"  [icon]="faEnvelope"></fa-icon></a>
  </footer>

  <!--ng build --output-path docs --base-href Porfolio   -->







